<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IITI Student Course Portal</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container home-container">
        <img src="static/Logo.png" alt="IIT Indore Logo" class="logo">
        <h1>Welcome to IIT Indore Student Course Portal</h1>
        <div class="button-container">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn btn-secondary">Register</a>
        </div>
    </div>
</body>
</html>
